<!DOCTYPE html>
<html lang="en">
<head>
    {%load plotly_dash%}
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <div class="header-container">
        {% include "./template-parts/header.html" %}
    </div>
<div class="home-container about">
    <div class="guide-inner">
        <h1>Sobre Nosotros</h1>
        <div class="text-section">
            <h2>¿Quienes somos?</h2>
            <p>Lorem ipsum dolor amet normcore slow-carb small batch, ramps fixie salvia man bun austin chia humblebrag organic. Enamel pin green juice kitsch, poutine cray iPhone pok pok mlkshk cliche meggings hell of slow-carb poke hashtag. PBR&B street art aesthetic meh authentic thundercats heirloom adaptogen marfa bespoke listicle shabby chic. Ethical tacos readymade, iPhone typewriter four dollar toast drinking vinegar four loko flannel bicycle rights succulents tbh.</p>
            <p>Chambray knausgaard viral poutine, vice XOXO activated charcoal chia pork belly kitsch shoreditch church-key whatever. Salvia craft beer bicycle rights umami adaptogen. Helvetica photo booth echo park, viral chicharrones hoodie kickstarter pabst keffiyeh. Hammock edison bulb hella taiyaki green juice banh mi pork belly distillery lyft. Pop-up umami health goth poke. Tbh kogi crucifix irony shoreditch plaid raclette.</p>
        </div>
        <div class="text-section">
            <h2>¿Qué hacemos?</h2>
            <p>IPhone plaid af, gastropub drinking vinegar polaroid chartreuse tattooed banjo meh fam forage. YOLO 90's kogi lo-fi sartorial fingerstache. Plaid affogato stumptown tacos vinyl, man bun chia. Yuccie hammock vegan chicharrones quinoa fam succulents gastropub four dollar toast.</p>
            <p>Yr shabby chic chia sartorial, af +1 pok pok sustainable. Pork belly heirloom twee ugh, YOLO quinoa kombucha hashtag. Skateboard chartreuse four dollar toast, mumblecore organic bitters you probably haven't heard of them listicle slow-carb vexillologist. Roof party occupy subway tile keffiyeh tacos microdosing chartreuse. Trust fund blog cornhole tattooed irony crucifix heirloom pinterest etsy knausgaard deep v vaporware. Jean shorts drinking vinegar pinterest, lyft four dollar toast DIY gochujang. Sriracha art party austin chartreuse polaroid tote bag try-hard YOLO.</p>
        </div>
        <div class="text-section">
            <h2>¿Cómo lo hacemos?</h2>
            <p>Hot chicken butcher fanny pack kickstarter disrupt raclette single-origin coffee copper mug health goth shoreditch tumeric. Kale chips asymmetrical affogato venmo DIY, enamel pin jianbing master cleanse. Butcher glossier franzen succulents venmo ennui mlkshk kale chips godard waistcoat. Hexagon mumblecore ethical fixie, actually lo-fi tumblr raclette. Sustainable fanny pack succulents XOXO deep v beard crucifix affogato kogi edison bulb vexillologist lo-fi next level helvetica locavore. Freegan microdosing man braid marfa, sustainable iPhone dreamcatcher try-hard you probably haven't heard of them occupy selvage taxidermy jianbing plaid beard. Pok pok taxidermy salvia 90's truffaut.</p>
            <div class="data-container">
                <div class="map-container">
                    {%plotly_app name="sensormap"%}
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
