<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="header-container">
        {% include "./template-parts/header.html" %}
    </div>
    <div class="home-container guide">
        <div class="guide-inner">
            <h1>Guía sobre la Calidad del Aire</h1>
            <h2>Resumen de la guía</h2>
            <p>Esta guía ha sido escrita con la intención de ayudar a nuestra comunidad a tener un mejor entendimiento de cómo se monitoriza la calidad del aire, la cuál nos afecta a todos. Explicaremos los diferentes tipos de contaminantes que hay en el aire y los efectos nocivos que estos pueden tener para la salud.</p>

            <h2>Tipos de Contaminantes</h2>
            <div class="pollutant">
                <h3>1. Ozono</h3>
                <div class="subject-label"><p>¿Quién está en riesgo?</p></div>
                <p>Hay grupos de personas que son particularmente sensibles al ozono, especialmente cuando están al aire libre. Esto se debe a que los niveles de ozono son mucho más altos en el exterior. Además, la actividad física hace que la respiración sea mucho más acelerada y profunda, lo que causa que el ozono se inhale más rápidamente.</p>
                <ul>
                    <li><p>Personas con problemas respiratorios como asma, bronquitis crónica o enfisema, pueden ser particularmente sensibles al ozono. Por lo general, el ozono puede llevar a estas personas más sensibles a un empeoro de su condición. Esto puede llevar a un aumento en medicación, visitas más frecuentes al doctor o a la sala de emergencia, e incluso a la hospitalización.</p></li>
                    <li><p>Los niños y adolescentes son el grupo de más alto riesgo, ya que suelen jugar al aire libre cuando hace tiempo caluroso y los niveles de ozono son más altos, son más propensos a tener asma (condición que puede agravarse por la exposición al ozono) y sus pulmones siguen en desarrollo.</p></li>
                    <li><p>Los adultos de edad avanzada también son un grupo de alto riesgo, ya que son más propensos a tener problemas pulmonares.</p></li>
                </ul>
            </div>
            <div class="pollutant">
                <h3>2. Material Particulado<h3>
                <div class="subject-label"><p>¿Quién está en riesgo?</p></div>
                <p>Al exponerse al material particulado, las personas que tienen problemas respiratorios o de corazón y personas de edad avanzada tienen más probabilidades de tener que visitar el doctor o la sala de emergencia. En algunos casos la exposición al material particulado puede causar la hospitalización, e incluso, la muerte.</p>
                <ul>
                    <li><p>La exposición al material particulado puede causar dolor de pecho, palpitaciones, falta de aliento y fatiga a aquellas personas con problemas de corazón. Este tipo de contaminación también está asociada con arritmia cardiaca y ataques de corazón.</p></li>
                    <li><p>Cuando personas con problemas pulmonares son expuestas al material particulado, estas pueden experimentar mayor difucultad para respirar con normalidad. Otros síntomas incluyen tos y falta de aliento. Las personas sanas puede que también experimenten estos síntomas, sin embargo serán de menos gravedad.</p></li>
                    <li><p>El material particulado puede empeorar la condición de aquellas personas con infecciones o enfermedades respiratorias, como el asma y la bronquitis crónica. Esto puede llevar a un aumento en la medicación  y a las visitas al doctor.</p></li>
                </ul>
            </div>
            <div class="pollutant">
                <h3>3. Dióxido de azufre</h3>
                <div class="subject-label"><p>¿Quién está en riesgo?</p></div>
                <p>Las personas con asma que hacen ejercicio al aire libre pueden verse afectadas por problemas causados por el dióxido de azufre. El efecto más común es el estrechamiento de las vías respiratorias (llamado broncoconstricción), y puede ocurrir incluso tras una breve exposición (minutos) a este contaminante. Este síntoma puede que ser acompañado por sibilancias, presión sobre el pecho y falta de aliento, para lo cuál puede que sea necesaria medicación que abra las vías respiratorias. Estos síntomas aumentarán conforme aumente el nivel de dióxido de azufre y el ritmo de respiración. Una vez los nieveles de dióxido de azufre bajan, los pulmones tardarán sobre una hora en volver a la normalidad, incluso sin el uso de medicación.</p>
                <ul>
                    <li><p>A niveles altos, el dióxido de azufre puede causar sibilancias, presión sobre el pecho y falta de aliento incluso en personas sanas que no tienen asma.</p></li>
                    <li><p>La exposición prolongada a este contaminante puede causar síntomas y problemas respiratorios, así como agravar el asma. Las personas con asma son las más susceptibles al dióxido de azufre. Sin embargo, las personas con otros tipos de enfermadades pulmonares o cardiovasculares crónicas, así como los niños y las personas mayores, también pueden verse afectados por los efectos de este contaminante.</p></li>
                </ul>
            </div>
            <div class="pollutant">
                <h3>4. Monóxido de carbono</h3>
                <div class="subject-label"><p>¿Quién está en riesgo?</p></div>
                <p>Las personas con problemas cardiovasculares, tal como la enfermedad de las arterias coronarias, son el grupo de mayor riesgo. Estas personas pueden experimentar dolor de pecho y otros síntomas cardiovasculares cuando se exponen al monóxido de carbono, especialmente si están haciendo ejercicio.</p>
                <ul>
                    <li><p>Las personas con sistemas cardiovasculares y respiratorios problemáticos (por ejemplo, aquellas personas con insuficiencia cardíaca, enfermedades cerebrovasculares, anemia o enfermedad pulmonar obstructiva crónica), así como los niños pequeños y los fetos, también son un grupo de alto riesgo ante la contaminación por monóxido de carbono.</p></li>
                    <li><p>Para las personas sanas, la exposición a altos niveles de monóxido de carbono puede tener efectos negativos para la atención y la visión</p></li>
                </ul>
            </div>
            <div class="pollutant">
                <h3>5. Dióxido de nitrógeno</h3>
                <div class="subject-label"><p>¿Quién está en riesgo?</p></div>
                <p>Las personas que pasan mucho tiempo cerca de carreteras y calles muy concurridas suelen experimentar una exposición mayor al dióxido de nitrógeno. Esta exposición puede ser preocupante para grupos sensibles, como personas con asma, niños y adultos de edad avanzada.</p>
                <ul>
                    <li><p>Personas con problema pulmonares, incluyendo:</p>
                        <ul>
                            <li><p>Asma</p></li>
                            <li><p>Enfermedad pulmonar obstructiva crónica (EPOC)</p></li>
                            <li><p>Enfisema</p></li>
                            <li><p>Bronquitis Crónica</p></li>
                        </ul>
                    </li>
                    <li><p>Niños, cuyos pulmones se encuentran todavía en desarrollo y son más propensos a tener asma.</p></li>
                    <li><p>Adultos de edad avanzada, los cuáles tienen posibilidades de tener problemas pulmonares no diagnosticados.</p></li>
                </ul>
            </div>
    </div>
    </div>

</body>
</html>
