<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
    <div class="header-container">
        {% include "./template-parts/header.html" %}
    </div>
<div class="home-container contact">
    <div class="guide-inner">
        <h1>Contact Us</h1>
        <div class="contact-intro">
            <p> ¿Quiere saber más sobre nuestro projecto?<br>
                ¿Tiene alguna pregunta sobre la calidad del aire?<br>
                ¿Algún comentario o sugerencia?<br>
            </p>
            <p class="bold">¡Mándanos un mensaje!</p>
        </div>

        <div class="form-container">
                <form class="fresh-air-form alert-form contact-form" action="" method="POST">
                    {% csrf_token %}

                    <input type="text" class="alert_field contact_name" name="name" placeholder="Su nombre">
                    <input type="email" class="alert_field contact_email" name="email" placeholder="Su Email">
                    <textarea class="alert_field contact_message" name="message" placeholder="¿Qué le gustaría decir?" rows="10"></textarea>
                    <div class="submit-container">
                        <input class="signup-submit" type="submit" value="MANDAR">
                    </div>

                </form>
            </div>


    </div>
</div>
</body>
</html>
