<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<body>
    <div class="header-container">
        {% include "./template-parts/header.html" %}
    </div>
<div class="home-container data">
    <div class="guide-inner">
        <h1>Consigue los datos</h1>
        <div class="contact-intro">
            <p> Los integrantes del projecto Fresh Air entendemos la importancia de que nuestra comunidad tenga aceso a nuestros datos. Por eso, queremos que esta información esté públicamente disponible para todo aquel que pueda ayudar a crear un Grand Rapids más saludable para todos.<br>
            </p>
            <p class="bold">¡Haz click en el botón para empezar!</p>
        </div>

        <div class="form-container-data">
                <form class="fresh-air-form alert-form contact-form" action="" method="POST">
                    {% csrf_token %}
                    <div class="submit-container">
                        <input class="signup-submit" type="submit" value="Consigue los datos">
                    </div>

                </form>
            </div>


    </div>
</div>
</body>
</html>
