<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>¡Gracias!</title>
</head>
<body>
    <div class="header-container">
        {% include "./template-parts/header.html" %}
    </div>
    <div class="home-container">
        <div class="home-inner thank-you">
            <h1>!Gracias por ayudarnos a crear un Grand Rapids más saludable para todos!</h1>
            <p>Tu primera notificación sobre la calidad del aire debería llegar en menos de 48 horas</p><br>
            <p>Porfavor, diríja cualquier duda sobre soporte a<a href="mailto:schertec@mail.gvsu.edu">support@freshairgr.com</a></p>
        </div>
    </div>
</body>
</html>
