<div id="site-header">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Chivo|Montserrat:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="header-inner">
        <div class="top-bar">
            <div class="top-bar-inner">
                <p><a href="/">English</a></p>
            </div>
        </div>
        <div class="header-banner">
            <img height="auto" width="100%" id="header-img" src="{% static '/uploads/GR_SKYLINE.JPG' %}">
        </div>
        <div class="nav-bar">
            <div class="nav-bar-top">
                <div class="top-bar-item nav-bar-img">
                    <img height="70px" class="nav-bar-icon" src="{% static '/uploads/City-of-GR-Logo-Color.jpg' %}">
                </div>
                <div class="top-bar-item nav-bar-text">
                    <h1>Project Fresh Air Grand Rapids</h1>
                </div>
            </div>
            <div class="nav-bar-bottom">
                <div class="navbar">
                    <div class="navbar-inner">
                    <a href="/es/">Home</a>
                    <a href="/es/about">About</a>
                    <a href="/es/report">Air Quality Report</a>
                    <a href="/es/guide">Air Quality Guide</a>
                    <div class="subnav">
                        <button class="subnavbtn">More <i class="fa fa-caret-down"></i></button>
                        <div class="subnav-content">
                            <div class="subnav-content-inner">
                                <a href="/es/data">Get the Data</a>
                                <a href="/es/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>