<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="header-container">
        {% include "./template-parts/header.html" %}
    </div>
    <div class="home-container">
        <div class="home-inner">
            <div class="home-intro">
                <h1>Take Control of Your Health</h1>
                <h2>Sign up for air quality alerts today</h2>
            </div>
            <div class="form-container">
                <form class="fresh-air-form alert-form" action="{% url 'Signup' %}" method="POST">
                    {% csrf_token %}
                    <p>I want to receive air quality alerts via: </p><br>
                    <input type="checkbox" class="alert_optin alert_optin_email" name="email_optin" value="email_optin"> Email<br>
                    <input type="checkbox" class="alert_optin alert_optin_phone" name="phone_optin" value="phone_optin"> Text<br>

                    <input type="email" class="alert_field alert_field_email" name="email" placeholder="Email"> <br>
                    <input type="tel" class="alert_field alert_field_phone" name="phone" placeholder="Phone">

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>